<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - CFun</title>
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/cfun.css" />
    <link rel="stylesheet" href="/static/css/jBootstrapPage.css" />
    <link rel="stylesheet" href="/static/css/toastr.min.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/cfun.js"></script>
    <script src="/static/js/jBootstrapPage.js"></script>
    <script src="/static/js/toastr.min.js"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>

    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand cfun-shadow" style="padding-left:30px;padding-right:30px;padding-top:15px;font-family: 华文行楷;font-size:40px;color:orange" href="/">CFun</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页<span class="sr-only">(current)</span></a></li>
                    <li><a href="https://github.com/studentXinxin/cfun">源码</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if __user__ %}
                    <li class="dropdown" style="font-size: 18px">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{__user__.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/change_passwd"><span class="glyphicon glyphicon-pencil"></span> 修改密码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/signout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退出登录</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/signin">登录</a></li>
                    <li><a href="/register">注册</a></li>
                    {% endif %}
                </ul>
                {% block search_box %}{% endblock %}
                {% if __user__ %}
                <a href="/blogs/create" class="btn btn-default navbar-btn navbar-right"><span class="glyphicon glyphicon-pencil"></span> 添加博客</a>
                {% endif %}
            </div>
        </div>
    </nav>


    <div class="container body-container">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
    </div>

    <footer class="navbar navbar-fixed-bottom text-center bg-primary">
        <p style="padding-top: 15px;">Powered by CFun. Copyright © 2020. Yan Xinxin All rights reserved.</p>
    </footer>
</body>
</html>
