{% extends '__base__.html' %}

{% block title %}博客{% endblock %}

{% block beforehead %}

<script>
var vmVue;
var keyword = '';
function initVM(data) {
    vmVue = new Vue({
        el: '#vm',
        data: {
            blogs: data.blogs
        },
        methods: {
        }
    });
    $('#vm').show();
    createPage(data.page.itemsOnPage, data.page.displayedPages, data.page.items);
}

//创建分页，pageSize-每页显示数据条数，buttons-显示多少个页码按钮，total-总条数
function createPage(pageSize, buttons, total) {
    $(".pagination").jBootstrapPage({
        pageSize : pageSize,
        total : total,
        maxPageButton:buttons,
        onPageClicked: function(obj, pageIndex) {
            search(pageIndex);
        }
    });
}

function search(pageIndex) {
    var keyword = $("#search_box").val().trim();
    getJSON('/api/blogs', {
        page: pageIndex,
        keyword: keyword
    }, function (err, results) {
        if (err) {
            return fatal(err);
        } else if (results.code){
            toastr.error(results.message);
            return;
        }
        vmVue.blogs = results.blogs;
        if (pageIndex == 1) {
            createPage(results.page.itemsOnPage, results.page.displayedPages, results.page.items);
        }
    });

}

$(function() {
    getJSON('/api/blogs', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}
{% block search_box %}
<form class="navbar-form navbar-right">
    <div class="form-group">
      <input id="search_box" type="text" class="form-control" placeholder="博客名称">
    </div>
    <button type="button" onclick="search(1)" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询</button>
</form>
{% endblock %}

{% block content %}

    <div class="col-md-9 well" id="vm">
        <div v-repeat="blog: blogs" class="blog-post blog-list">
            <article>
                <h2 class="blog-post-title"><a v-attr="href:'/blog/'+blog.id" v-text="blog.name"></a></h2>
                <p class="blog-post-meta"><span class="glyphicon glyphicon-time"></span>  <span class="blog-datetime" v-text="blog.created_at.toDateTime()"></span></p>
                <summary class="blog-summary" v-text="blog.summary"></summary>
                <p><a class="btn btn-default readmore-btn" v-attr="href:'/blog/'+blog.id">详细阅读 <span class="glyphicon glyphicon-triangle-right"></span></a></p>
            </article>
            <hr>
        </div>

        <ul class="pagination" id="pageUL"></ul>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default cfun-fixed">
            <div class="panel-heading">
                <h3>My Profile</h3>
                <img class="img-responsive center-block" src="/static/img/chouchou.jfif" />
            </div>
            <div class="panel-body sidebar-module-inset">
                <div><h4>Yan Xinxin</h4></div>
                <p>
                    <span class="glyphicon glyphicon-education"></span> 华中科技大学 · 生物医学工程
                    <br>
                    <span class="glyphicon glyphicon-envelope"></span> yanxinxin93@qq.com
                    <br>
                    <span class="glyphicon glyphicon-map-marker"></span> 西安 Xi'An
                </p>
            </div>
        </div>
    </div>

{% endblock %}
