{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

<script>

var comment_url = '/api/blogs/{{ blog.id }}/comments';

$(function () {
    toastr.options = {
        positionClass: 'toast-top-center',
        closeMethod: 'fadeOut',
        closeDuration: 300,
        closeButton: true
    };
    var $form = $('#form-comment');
    $form.submit(function (e) {
        e.preventDefault();
        var content = $form.find('textarea').val().trim();
        if (content==='') {
            toastr.warning('请输入评论内容！');
            return;
        }
        $form.postJSON(comment_url, { content: content }, function (err, result) {
            if (err) {
                toastr.error(err.message);
                return;
            } else if (result.code){
                toastr.error(result.message);
                return;
            }
            refresh();
        });
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="col-md-9 blog-detail-main well">
        <div class="blog-post">
            <h2 class="blog-post-title">{{ blog.name }}</h2>
            <p class="blog-post-meta"><span class="glyphicon glyphicon-time"></span>  <span class="blog-datetime">{{blog.created_at|datetime}}</span></p>
            <summary class="blog-summary">{{blog.summary}}</summary>
            <hr>
            <div>
                <p>{{blog.html_content|safe}}</p>
            </div>
        </div>

    {% if __user__ %}
        <h3>发表评论</h3>

        <article class="blog-post">
                <img width="50" height="50" src="{{ __user__.image }}">
                <p class="blog-post-title">{{ __user__.name }}</p>
                <form id="form-comment" class="form-horizontal">
                    <div class="form-group">
                        <textarea rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default"><i class="uk-icon-comment"></i> 发表评论</button>
                    </div>
                </form>
        </article>

        <hr>
    {% endif %}

        <h3>最新评论</h3>
        <hr>
        <div class="blog-post">
            {% for comment in comments %}
            <article class="uk-comment">
                <header class="blog-post-title">
                    <p><strong>{{ comment.user_name }} {% if comment.user_id==blog.user_id %}(作者){% endif %}</strong>
                       {{ comment.created_at|datetime }}</p>
                </header>
                <div>
                    <p>{{ comment.html_content|safe }}</p>
                </div>
            </article>
            <hr>
            {% else %}
            <p>还没有人评论...</p>
            {% endfor %}
        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-default cfun-fixed">
            <div class="panel-heading">
                <h3>My Profile</h3>
                <img class="img-responsive center-block" src="/static/img/chouchou.jfif" />
            </div>
            <div class="panel-body sidebar-module-inset">
                <div><h4>Yan Xinxin</h4></div>
                <p>
                    <span class="glyphicon glyphicon-education"></span> 华中科技大学 · 生物医学工程
                    <br>
                    <span class="glyphicon glyphicon-envelope"></span> yanxinxin93@qq.com
                    <br>
                    <span class="glyphicon glyphicon-map-marker"></span> 西安 Xi'An
                </p>
            </div>
        </div>
    </div>
{% endblock %}
