<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>登录 - CFun</title>
    <link href="../static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/cfun.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/cfun.js"></script>
    <script src="/static/js/toastr.min.js"></script>
<script>
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}
$(function() {
    toastr.options = {
        positionClass: 'toast-top-center',
        closeMethod: 'fadeOut',
        closeDuration: 300,
        closeButton: true
    };
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            email: '',
            passwd: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var $form = $('#vm');
                if (!validateEmail(this.email.trim().toLowerCase())) {
                    toastr.warning("请输入正确的Email地址");
                    return;
                }
                if (this.passwd.length < 6) {
                    toastr.warning("密码长度至少为6个字符");
                    return;
                }
                var email = this.email.trim().toLowerCase();
                data = {
                    email: email,
                    passwd: CryptoJS.SHA1(email + ':' + this.passwd).toString()
                };
                $form.postJSON('/api/authenticate', data, function(err, result) {
                    if (err) {
                        toastr.error(err.message);
                    } else if (result.code){
                        toastr.error(result.message);
                    } else {
                        location.assign('/');
                    }
                });
            }
        }
    });
    $('#vm').show();
});
</script>
</head>
<body>
    <div class="container body-container" style="padding-top: 160px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form id="vm" v-on="submit: submit" class="form-horizontal">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                        <input v-model="email" name="email" type="text" placeholder="电子邮件" maxlength="50" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></div>
                        <input v-model="passwd" name="passwd" type="password" placeholder="密码" maxlength="50" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">登录 <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
